/* ESTILOS DE SCREEN */

@media screen{
  html {
    box-sizing: border-box;
    padding: 20px;
  }
  
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .logo {
    height: 130px;
    padding-top: 30x;
    padding-left: 30px;
    width: 130px;
  }
  
  .datos {
    background: linear-gradient(45deg, #0EF972, white);
    border: 3px inset rgb(8, 90, 12);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  hr {
    background-color: rgb(8, 90, 12);
    height: 2px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
  }
  
  .textoInicial {
    display: flexbox;
    flex-direction: column;
    font-size: 20px;
    padding-left: 100px;
  }
  
  .encabezado {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }
  
  .detalle {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .documento {
    align-items: center;
    border: 2px inset rgb(8, 90, 12);
    border-radius: 5px;
    font-size: small;
  }
  .documento th{
    background: linear-gradient(45deg, #0EF972, white)
  }
  
  table {
    font-size: 15px;
    padding: 20px;
    text-align: left;
  }
  
  .datosCliente {
    width: 68%;
  }
  
  .tablaCliente {
    border-radius: 5px;
    border: 2px inset rgb(8, 90, 12);
    border-collapse: separate;
    border-spacing: 80px 10px;
    display: block;
    padding: 10px;
  }
  
  caption {
    background: linear-gradient(45deg,#0EF972, white);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 50px;
    font-weight: bold;
    padding: 5px;
  }
  
  td {
    border:  0.2px solid rgb(8, 90, 12);
    height: auto;
    padding: 2px;
    width: 100%;
    word-break: break-all;
  }
  
  
  .tablaDetalle {
    border-radius: 5px;
    border: 2px inset rgb(8, 90, 12);
    border-collapse: separate;
    padding: 10px;
    table-layout: fixed;
    text-align: left;
    width: 100%;
  }
  
  .tablaDetalle th {
    background: linear-gradient(45deg, #0EF972, white);
  }
  
  .tablaDetalle th:nth-child(1) {
    width: 20%;
  }
  
  .tablaDetalle th:nth-child(2) {
    width: 40%;
  }
  
  .tablaDetalle th:nth-child(3) {
    width: 20%;
  }
  
  .tablaDetalle th:nth-child(4) {
    width: 20%;
  }
  
  .tablaPie {
    border-radius: 5px;
    border: 2px inset rgb(8, 90, 12);
    border-collapse: separate;
    table-layout: fixed;
    padding: 10px;
    table-layout: fixed;
    text-align: left;
    width: 100%;
  }
  
  .tablaPie th {
    background: linear-gradient(45deg, #0EF972, white);
  }
  
  .tablaPie th:nth-child(1) {
    width: 25%;
  }
  
  .tablaPie th:nth-child(2) {
    width: 20%;
  }
  
  .tablaPie th:nth-child(3) {
    width: 15%;
  }
  
  .tablaPie th:nth-child(4) {
    width: 25%;
  }
  
  .tablaPie th:nth-child(5) {
    width: 15%;
  }

  .codigos{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } 
}


/* ESTILOS DE IMPRESION */
@media print {
  body {
    font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 10 0 10 0px;
    text-align: justify;
    background-color: #ffffff;
}

.logo {
    height: 100px;
    padding-top: 30x;
    padding-left: 30px;
    width: 100px;
}

.datos {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
.tablaPie, .tablaDetalle, .tablaCliente {
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid black;
    border-collapse: separate;
    table-layout: fixed;
    padding: 10px;
    table-layout: fixed;
    text-align: left;
    width: 100%;
  }

  th, td{
      border-bottom: 1px solid black;
  }

  .codigos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } 
  
}